/* --- Helpery --- */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.dumb_only {
  position: absolute;
  top: -200px;
  left: -200px;
}
/* --- Zakladna --- */
a img {
  border: 0;
}
body {
  font: 15px/20px sans-serif;
  background: #6d431f url('../img/wood.png') repeat;
  color: #fff;
  padding: 40px 0;
  margin: 0;
}
h1 {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #ccc;
}
table td,
table th {
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding: .5em .2em .5em 0;
}
table th {
  color: #999;
}
/* --- Infobox na strane --- */
.infobox {
  color: #000;
  background: #fff;
  padding: 1em;
  margin-bottom: 1em;
}
.infobox h2 {
  margin-top: 0;
}
/* --- Seznam fotek --- */
.polaroids {
  zoom: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.polaroids:before,
.polaroids:after {
  content: "";
  display: table;
}
.polaroids:after {
  clear: both;
}
.polaroid {
  float: left;
  width: 170px;
  height: 180px;
  padding: 10px;
  margin: 0 20px 20px 0;
  background-color: white;
  color: darkgrey;
}
.polaroid img {
  max-width: 100%;
}
.polaroid a {
  color: #666;
  text-decoration: none;
}
.polaroid .head {
  text-align: center;
  font: 15px/20px sans-serif;
  font-weight: normal;
}
.polaroid:hover,
.polaroid:focus,
.polaroid:active {
  background-color: #fcf883;
}
.polaroid .polaroid:hover .head,
.polaroid .polaroid:focus .head,
.polaroid .polaroid:active .head {
  color: black;
}
/* --- Formular --- */
.form input[type=text],
.form textarea {
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* --- Navigace --- */
.nav {
  zoom: 1;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.nav:before,
.nav:after {
  content: "";
  display: table;
}
.nav:after {
  clear: both;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav_item {
  margin: 0;
  display: inline-block;
}
.nav_item a,
.nav_item b {
  font-weight: normal;
  display: inline-block;
  padding: .5em 1em;
  text-align: center;
  color: #333;
  background: #fff;
  text-decoration: none;
}
.nav_item b {
  background: #ddd;
  background: rgba(255, 255, 255, 0.5);
}
/* --- Layout --- */
.container {
  width: 1000px;
  margin: 0 auto;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.content {
  width: 660px;
  float: left;
}
.side {
  width: 330px;
  float: right;
}
